# Python
__pycache__/
*.py[cod]
*venv/
scripts/test_matrices/matrix*
scripts/test_matrices/graph_output*

# C / MPI
*.o
*.out
*.exe
1_MPI/build
compile_commands.json
1_MPI\.cache
# 1_MPI/data/*.json
1_MPI/nodes

# Archiwa
*.tar.gz